[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twisted = "*"
txamqp = "*"
txsshadmin = "*"
treq = "*"
jinja2 = "*"
klein = "*"
six = "*"
commentjson = "*"
pyjwt = "*"
pylru = "*"
service-identity = "*"
werkzeug = "*"
mysql-python = "*"
ldaptor = "==19.1.0"
pyhamcrest = "*"
pem = "*"

[requires]
python_version = "2.7"
